body {

    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;

}

.row
{
    margin:0!important;
}

.menu-hover
{   display: inline-block;
    visibility: hidden;
    position: absolute;
    bottom:-20%;
    left:1%;
    height: 3px;
    width: 100%;
    background-color: rgb(73, 144, 226);
    transition: all 0.3s ;
    
}

.menu-header:hover .menu-hover
{
    visibility: visible;
    transition: all 0.3s ;
    
}

.banner-inner {
    height: 55px;
    background-image: url("../img/main_banner_img.png");
    background-size: auto 100%;
    transition: all 0.3s ease-in 0s;
    background-position: center center;
    background-repeat: no-repeat;

}

.banner-btn {

  display: flex;
  justify-content: center;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 500;


}

.banner-btn:hover {

    border: 1px solid white;
    background: transparent;
    color:white;


  }

  .menu-topcat
  {
     text-decoration:none;
     border: 2px solid rgb(73, 144, 226);
     color: rgb(73, 144, 226);
     padding: 10px;
     font-weight: 600;
     font-size: 14px;
  }

  .menu-topcat:hover
  {
      color: rgb(73, 144, 226);
     text-decoration:none;

  }
  .banner-btn:active{
      background:transparent;
      outline:none;
      border: 1px solid white;
      color:white;
      box-shadow: none;

  }

  .banner-btn:focus{
    background:transparent;
    outline:none;
    border: 1px solid white;
    color:white;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

.form-row
{
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(73, 144, 226);
    border-image: initial;
}
.flickity-button {


    visibility: hidden;
    transition: all 0.3s ease 0s;
 }

 .flickity-enabled:hover .flickity-button {

   visibility: visible;
   transition: all 0.3s ease 0s;


}

.daily-sale img
{

    max-height: 100%;
  max-width: 100%;
}
.daily-category
{
    position: relative;
    padding: 0;
}

.daily-category .row {

position: absolute;
height: 47%;
margin: 0;
}

.daily-category .one{


}

.daily-category .two{

    top: 53%;
}
.daily-category img
{

   min-height: 100%;
    max-width: 100%;

}

.banner-btn{
    position: absolute;
    right: 15%;

}

.search-input
{
    width: 100%;

}

.search-text
{
    margin: 0px!important;
    padding: 0px!important;
    border: none;
    font-size: 12px;
    font-weight: 600;
}

.search-text:focus{
    border:none;
    outline:none;
    box-shadow: none;
}


.btn-search
{
    min-width: 100%;
    font-size: 16px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    background-color: rgb(73, 144, 226);
    color: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    outline: none;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    height: 46px;
    padding: 0;
    width: 130px;
}


.search-details
{
    width: 200%;
    max-width: 750px;
    height: 500px;
    display: flex;
    flex-direction: column;
    top: calc(100% + 10px);
    left: 2%;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(51, 76, 103, 0.17) 0px 4px 11px 0px;
    visibility: visible;
    opacity: 1;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    transition: opacity 0.2s ease 0s;
    border-color: transparent;
    z-index: 100;
    border : 2px solid rgb(73, 144, 226);
    padding:15px;
}


.search-details ul{


    list-style-type: none;
    padding-left: 0;
}

.search-details a

{
    font-size: 13px;
    display: block;
    cursor: pointer;
    font-weight: 600;
    color: rgb(74, 74, 74);
    margin-top: 8px;
    text-decoration: none;
    padding: 0 10px 10px 0;
}

.search-details h6

{
    font-size: 13px;
    font-weight: 400;
    color: rgb(58, 115, 180);
    margin: 0px 0px 9px;
    
}
.image-container
{
    text-align: center;
    transition: box-shadow 0.4s ease 0s;
    
}

.nopadding
{
    padding: 0px;
}
.image-container h6
{
    height: 2rem;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    line-height: 1.3;
    opacity: 0.72;
    color: rgb(62, 65, 69);
    margin: 15px 10px;
    overflow: hidden;

} 
.image-container a
{
    transition: box-shadow 0.4s ease 0s;
}
.image-container a:hover
{
   
        box-shadow: rgb(51, 76, 103) 0px 4px 12px -5px;
        transition: box-shadow 0.4s ease 0s;
         
}
.image-container p
{
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: rgb(62, 66, 69);
    margin-bottom: 0;
    margin-left: 10px;
    
}
.search-details img
{
height: 112px;
width: 112px;
}

.row
{
    margin:10px 0;
}


.merch-div
{
    width: 100%;

    display: inline-block;
    vertical-align: top;
}

.merch {

    padding: 0px!important;
}
.merch ol
{
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 80px;
    padding: 0px;
    border-radius: 4px;
    justify-content:space-between;
    padding: 0 20px;
}
.merch img
{
    vertical-align: middle;
    text-align: center;
    flex: 1 0 auto;
    border-left: 1px solid rgb(238, 238, 238);
    width: 92px;
}

.daily-sale{
    background-color: white;
    padding: 10px;
}
.sale-percent
{
    display: inline-block;
    width: 40px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    padding-left: 5px;
    border-radius: 2px;
   background-color: rgb(255, 0, 0);
   color: white;

}
.daily-sale-a
{
    background-color: white;
    color: black;
}
.daily-sale-a:hover
{
text-decoration: none;
color: black;

}

.text-small{

    font-size: 11px;
    line-height: 21px;
    font-weight: 600;
    color: rgb(155, 155, 155);
    text-decoration: none;
}

.wrapper-underline
{
    border-bottom: 1px solid #f1f5f8;
}

.wrapper-underline ul
{
   list-style-type: none;
   text-decoration: none;
   display:inline;
   
}

.wrapper-underline li
{
    font-size: 12px;
    display:inline;
    color:black;
    min-width: 100px;

   
}
.row-menu
{
    margin: 0;
}

.row-menu a
{
color:black;
}

.row-menu a:hover
{
text-decoration:none;

}
.menu-main
{
    margin: 20px 0;
}

.main-li
{
    position: relative;
}
.menu-header
{
    display:inline-block;
    max-width: 100px;
    
}
.img-center img
{
    margin: auto;
    max-height: 35px;
   max-width: 82px;

}

.cimri-button-blue
{
    font-size: 16px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    background-color: rgb(73, 144, 226);
    color: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    outline: none;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

.more-offers
{
    position: absolute!important;
    bottom:5%;
    left: 5%;
    font-size: 11px;
    text-align: left;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(73, 144, 226);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin: 21px auto auto 0px;
    padding: 6px 21px;
    transition: all 0.2s ease 0s;
}

.more-offers:hover{
    background-color: rgb(73, 144, 226);

}


    .daily-sale-font-normal
   {

    font-size: 13px;
    margin-top: 4px;
    color: rgb(62, 65, 69);
    width: 100%;
    white-space: pre-wrap;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

   }

   .daily-sale-price {

    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgb(62, 65, 69);
    display: block;
    cursor: pointer;
    white-space: nowrap;
    margin: 0px 5px 15px 0px;
   }

   .owl-prev {

    position: absolute;
    top: 45%;
    left: 0%;
    height: 40px;
    width: 20px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: rgb(73, 144, 226)!important;
    color:white!important;



}

.owl-next {

    position: absolute;
    top: 45%;
    height: 40px;
    width: 20px;
    right: 0.5%;
    background-color: rgb(73, 144, 226)!important;
    color:white!important;
    border-bottom-left-radius:40px;
  border-top-left-radius: 40px;

}

.owl-next:focus{

    outline: none;
}

.owl-prev:focus{

    outline: none;
}
   .owl-carousel .nav-btn{
    height: 50px;
    position: absolute;
    width: 25px;
    cursor: pointer;
    top: 100px !important;


  }


  .owl-carousel .prev-slide{
    background: url(nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
  }
  .owl-carousel .next-slide{
    background: url(nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
  }
  .owl-carousel .prev-slide:hover{
   background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
  background-position: -24px -53px;
  }

  .wrapper-categories
  {
       background: white;
       padding: 10px 10px;

  }

  .col-lg-5ths img

  {
      height: 178px;
      width: 178px;
      margin-top: 15px;
      margin-bottom:15px;
  }

  .card-item {
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.4s ease 0s;
    margin-right: 10px;
    height: 447px;
    position: relative;
  }

  .card-item img
  {
      margin: 20px auto;
  }
  .card-item:hover
  {

    box-shadow: rgb(51, 76, 103) 0px 4px 12px -5px;
  }

  .card-title
  {

    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: rgb(62, 65, 69);

  }

  .link-merch
  {

    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: rgb(62, 65, 69);
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 10px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    display: block;
    height: 45px;

  }

  .link-merch:hover{
      text-decoration: none;
      padding-left: 9px;
      background-color: rgb(245, 245, 245);
      color: rgb(62, 65, 69);
  }

  .source
  {
    font-size: 11px;
    font-weight: 600;
    text-align: left;
    margin-right: 10px;
    color: rgb(73, 144, 226);

  }

  .source:hover {

    color: rgb(73, 144, 226);

  }
  .merch-price i{
    float: right;
    margin-right: 15px;
    font-size: 18px;
    color: rgb(73, 144, 226);
    line-height: 18px;
  }

  .image-category-more
  {
      height: 211px!important;
      width: 210px!important;
      margin:0!important;
  }

  .card-sale-text
{
    font-size: 13px;

    text-align: left;
    color: rgb(62, 65, 69);
    margin: 0px 5px 5px;
}

.categories-adv
{
    padding:0;
    width: 388px;
}
.categories-adv img
{
    max-width: 370px;
}

.section-header
{
    font-size: 22px;
    text-align: left;
    font-weight: 400;
    color: #3e4145;

}

.col-lg-12
{
    padding-left: 0;
}
.footer
{
    background-color: rgb(62, 65, 69);
    min-height: 314px;
    margin-top: 10px;
}

.footer-header
{
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-weight: 600;
    height: 20px;
    color: rgb(204, 204, 204);
    font-size: 13px;
    margin-bottom: 10px;
    letter-spacing: 1px;

}

.footer-list a
{
    color: rgb(155, 155, 155);
    text-decoration: none;
    font-size: 11px;
    line-height: 1.5;
    text-align: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: block;
    padding-bottom: 8px;
    letter-spacing: 0.5px;
}

.footer-list a:hover
{
    color: rgb(181, 181, 181);
}

.copyright p
{
    margin: 0px!important;
    color: rgb(155, 155, 155);
    text-decoration: none;
    font-size: 11px;
    line-height: 2.15;

    -webkit-text-decoration: none;
    text-decoration: none;
    display: block;

    letter-spacing: 0.5px;

}


.social li
{
    display:inline-block;
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    color: rgb(255, 255, 255);
    padding: 5px;
}


.social i{

    box-sizing: content-box;
    width: 15px;
    height: 15px;
    color: rgb(255, 255, 255);
    padding: 5px;
}
