USE [master]
GO
/****** Object:  Database [Cheapest]    Script Date: 3/31/2019 10:18:11 PM ******/
CREATE DATABASE [Cheapest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cheapest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Cheapest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cheapest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Cheapest_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cheapest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cheapest]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Logo] [nvarchar](250) NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ClickCount] [int] NOT NULL,
	[SiteRecommendID] [int] NULL,
	[DescriptionShort] [nvarchar](max) NULL,
	[DescriptionLong] [nvarchar](max) NULL,
	[ParentCategryId] [int] NULL,
	[Parent_id] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorieSubs]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorieSubs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SubcategoryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CategorieSubs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryIDIndexes]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryIDIndexes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CatIndex] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CategoryIDIndexes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryPhotoes]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryPhotoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SmallPhoto] [nvarchar](max) NULL,
	[NormalPhoto] [nvarchar](max) NULL,
	[BigPhoto] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CategoryPhotoes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[PublishDate] [datetime] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilterGroups]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FilterGroups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filters]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FilterGroupID] [int] NOT NULL,
	[IsFiltered] [bit] NULL,
	[IsComparable] [bit] NULL,
	[Category_id] [int] NULL,
 CONSTRAINT [PK_dbo.Filters] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilterValues]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterValues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SatrValue] [nvarchar](max) NULL,
	[EndValue] [nvarchar](max) NULL,
	[IsSingle] [bit] NOT NULL,
	[FilterID] [int] NOT NULL,
	[Prefix] [nvarchar](max) NULL,
	[ItemsCount] [int] NOT NULL,
	[IsChecked] [bit] NULL,
 CONSTRAINT [PK_dbo.FilterValues] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexDownPromoes]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexDownPromoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IndexDownPromoes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexSliderBigItems]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexSliderBigItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.IndexSliderBigItems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexSliderSales]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexSliderSales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ItemMerchID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.IndexSliderSales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexUnderSearchLinks]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexUnderSearchLinks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IndexUnderSearchLinks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexUpperPromoes]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexUpperPromoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IndexUpperPromoes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemDetails]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Text] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ItemDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemMerches]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMerches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[PriceNormal] [float] NOT NULL,
	[IsSale] [bit] NOT NULL,
	[PriceSale] [float] NULL,
	[ShippingTypeID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[SalePercent] [int] NOT NULL,
	[ShippiingType_id] [int] NULL,
	[MerchID] [int] NOT NULL,
	[IsSponsored] [bit] NOT NULL,
	[LinkToOffer] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ItemMerches] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPhotoes]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPhotoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[ItemID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ItemPhotoes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DescriptionShort] [nvarchar](max) NULL,
	[DescriptionLong] [nvarchar](max) NULL,
	[ClickCount] [int] NOT NULL,
	[Feature1] [nvarchar](max) NULL,
	[Feature2] [nvarchar](max) NULL,
	[Feature3] [nvarchar](max) NULL,
	[Feature4] [nvarchar](max) NULL,
	[Brand_id] [int] NULL,
	[RelatedItem1] [int] NULL,
	[RelatedItem2] [int] NULL,
	[RelatedItem3] [int] NULL,
	[RelatedItem4] [int] NULL,
	[RelatedItem5] [int] NULL,
	[SiteSelection] [bit] NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemSpecs]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemSpecs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[FilterId] [int] NOT NULL,
	[FilterValueID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ItemSpecs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merches]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Rating] [int] NOT NULL,
	[İmage] [nvarchar](max) NULL,
	[LinkWeb] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Merches] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeaarchTags]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeaarchTags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[Text] [nvarchar](max) NULL,
	[SearchCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SeaarchTags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippiingTypes]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippiingTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ShippiingTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteRecommends]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteRecommends](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IsAcive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SiteRecommends] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statics]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[LinkedIn] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[Logo2] [nvarchar](max) NULL,
	[CategoryIndex1ID] [int] NOT NULL,
	[CategoryIndex2ID] [int] NOT NULL,
	[CategoryIndex3ID] [int] NOT NULL,
	[CategoryIndex4ID] [int] NOT NULL,
	[CategoryIndex5ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Statics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/31/2019 10:18:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[MerchID] [int] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([id], [Name], [Logo], [Rating]) VALUES (1, N'Asus', N'1.jpg', 0)
INSERT [dbo].[Brands] ([id], [Name], [Logo], [Rating]) VALUES (2, N'Samsung', N'2.jpg', 0)
INSERT [dbo].[Brands] ([id], [Name], [Logo], [Rating]) VALUES (3, N'Vestel', N'3.jpg', 0)
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [Name], [ClickCount], [SiteRecommendID], [DescriptionShort], [DescriptionLong], [ParentCategryId], [Parent_id]) VALUES (12, N'Elektronik, Cep telefonu', 145, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Categories] ([id], [Name], [ClickCount], [SiteRecommendID], [DescriptionShort], [DescriptionLong], [ParentCategryId], [Parent_id]) VALUES (13, N'Ev, Yaşam, Ofis, Kırtasiye', 4, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Categories] ([id], [Name], [ClickCount], [SiteRecommendID], [DescriptionShort], [DescriptionLong], [ParentCategryId], [Parent_id]) VALUES (14, N'ANNE, BEBEK,
OYUNCAK', 5, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CategoryIDIndexes] ON 

INSERT [dbo].[CategoryIDIndexes] ([id], [CatIndex], [IsActive]) VALUES (1, 30, 1)
INSERT [dbo].[CategoryIDIndexes] ([id], [CatIndex], [IsActive]) VALUES (2, 42, 1)
INSERT [dbo].[CategoryIDIndexes] ([id], [CatIndex], [IsActive]) VALUES (3, 44, 1)
SET IDENTITY_INSERT [dbo].[CategoryIDIndexes] OFF
SET IDENTITY_INSERT [dbo].[CategoryPhotoes] ON 

INSERT [dbo].[CategoryPhotoes] ([id], [CategoryID], [SmallPhoto], [NormalPhoto], [BigPhoto]) VALUES (1, 30, NULL, N'30.jpg', NULL)
INSERT [dbo].[CategoryPhotoes] ([id], [CategoryID], [SmallPhoto], [NormalPhoto], [BigPhoto]) VALUES (2, 42, NULL, N'42.jpg', NULL)
INSERT [dbo].[CategoryPhotoes] ([id], [CategoryID], [SmallPhoto], [NormalPhoto], [BigPhoto]) VALUES (3, 44, NULL, N'44.jpg', NULL)
SET IDENTITY_INSERT [dbo].[CategoryPhotoes] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id], [Text], [PublishDate], [ItemID], [Rating]) VALUES (1, N'Super telefondur! 1 ildir artıq qoz kimi ishləyir!)', CAST(N'2019-03-23T12:57:00.000' AS DateTime), 4, 5)
INSERT [dbo].[Comments] ([id], [Text], [PublishDate], [ItemID], [Rating]) VALUES (3, N'Pis telefon deyil, amma bu qiymete daha yaxşı Xiaomi almaq olar, misal üçün Xİaomi Mİ 8', CAST(N'2019-02-15T22:12:00.000' AS DateTime), 4, 4)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[FilterGroups] ON 

INSERT [dbo].[FilterGroups] ([id], [Name]) VALUES (1, N'Qoşulma xüsusiyyətləri')
INSERT [dbo].[FilterGroups] ([id], [Name]) VALUES (2, N'Batareya xüsusiyyətləri')
INSERT [dbo].[FilterGroups] ([id], [Name]) VALUES (3, N'Digər xüsusiyyətlər')
SET IDENTITY_INSERT [dbo].[FilterGroups] OFF
SET IDENTITY_INSERT [dbo].[Filters] ON 

INSERT [dbo].[Filters] ([id], [Name], [FilterGroupID], [IsFiltered], [IsComparable], [Category_id]) VALUES (6, N'Qiymət', 9, 1, 0, 30)
INSERT [dbo].[Filters] ([id], [Name], [FilterGroupID], [IsFiltered], [IsComparable], [Category_id]) VALUES (8, N'Operativ Yaddaş', 8, 1, 1, 30)
INSERT [dbo].[Filters] ([id], [Name], [FilterGroupID], [IsFiltered], [IsComparable], [Category_id]) VALUES (9, N'Daxili yaddaş', 8, 1, 1, 30)
SET IDENTITY_INSERT [dbo].[Filters] OFF
SET IDENTITY_INSERT [dbo].[FilterValues] ON 

INSERT [dbo].[FilterValues] ([id], [SatrValue], [EndValue], [IsSingle], [FilterID], [Prefix], [ItemsCount], [IsChecked]) VALUES (23, N'1', N'2', 0, 6, N'AZN', 0, NULL)
INSERT [dbo].[FilterValues] ([id], [SatrValue], [EndValue], [IsSingle], [FilterID], [Prefix], [ItemsCount], [IsChecked]) VALUES (24, N'5', N'10', 0, 6, N'AZN', 0, NULL)
INSERT [dbo].[FilterValues] ([id], [SatrValue], [EndValue], [IsSingle], [FilterID], [Prefix], [ItemsCount], [IsChecked]) VALUES (25, N'10', N'20', 0, 6, N'AZN', 0, NULL)
SET IDENTITY_INSERT [dbo].[FilterValues] OFF
SET IDENTITY_INSERT [dbo].[IndexDownPromoes] ON 

INSERT [dbo].[IndexDownPromoes] ([id], [IsActive], [Image], [Link]) VALUES (1, 1, N'component_Ui1eI2019-01-24.jpg', N'https://www.trendyol.com/Butik/Liste/Elektronik?utm_source=aff_t&utm_medium=cpm&utm_campaign=cimri_showcase&utm_content=supermart-elektronik')
SET IDENTITY_INSERT [dbo].[IndexDownPromoes] OFF
SET IDENTITY_INSERT [dbo].[IndexSliderBigItems] ON 

INSERT [dbo].[IndexSliderBigItems] ([id], [Image], [Link], [IsActive]) VALUES (1, N'1.png', N'https://google.com', 1)
INSERT [dbo].[IndexSliderBigItems] ([id], [Image], [Link], [IsActive]) VALUES (2, N'2.png', N'https://google.com', 1)
INSERT [dbo].[IndexSliderBigItems] ([id], [Image], [Link], [IsActive]) VALUES (3, N'3.png', N'https://google.com', 1)
SET IDENTITY_INSERT [dbo].[IndexSliderBigItems] OFF
SET IDENTITY_INSERT [dbo].[IndexUpperPromoes] ON 

INSERT [dbo].[IndexUpperPromoes] ([id], [IsActive], [Image], [Link]) VALUES (1, 1, N'component_N6f3t2019-01-17.jpg', N'https://www.trendyol.com/Butik/Liste/Elektronik?utm_source=aff_t&utm_medium=cpm&utm_campaign=cimri_showcase&utm_content=supermart-elektronik')
SET IDENTITY_INSERT [dbo].[IndexUpperPromoes] OFF
SET IDENTITY_INSERT [dbo].[ItemMerches] ON 

INSERT [dbo].[ItemMerches] ([id], [ItemID], [PriceNormal], [IsSale], [PriceSale], [ShippingTypeID], [UserID], [SalePercent], [ShippiingType_id], [MerchID], [IsSponsored], [LinkToOffer], [Name]) VALUES (6, 1, 500, 0, NULL, 1, 2, 0, 1, 1, 0, N'https://google.com', N'Huawei Mate 20 Lite 64 GB 6.3 İnç 20 MP Akıllı Cep Telefonu Siyah')
INSERT [dbo].[ItemMerches] ([id], [ItemID], [PriceNormal], [IsSale], [PriceSale], [ShippingTypeID], [UserID], [SalePercent], [ShippiingType_id], [MerchID], [IsSponsored], [LinkToOffer], [Name]) VALUES (7, 1, 480, 0, NULL, 1, 2, 0, 1, 2, 0, N'https://google.com', N'Huawei Mate 20 Lite 64 GB 6.3 İnç 20 MP Akıllı Cep Telefonu Siyah')
INSERT [dbo].[ItemMerches] ([id], [ItemID], [PriceNormal], [IsSale], [PriceSale], [ShippingTypeID], [UserID], [SalePercent], [ShippiingType_id], [MerchID], [IsSponsored], [LinkToOffer], [Name]) VALUES (8, 3, 520, 0, NULL, 1, 2, 0, 1, 3, 0, N'https://google.com', N'Xiaomi Mi 8 Lite 128GB 6.26 inç 12MP Çift Hatlı Akıllı Cep Telefonu Siyah')
SET IDENTITY_INSERT [dbo].[ItemMerches] OFF
SET IDENTITY_INSERT [dbo].[ItemPhotoes] ON 

INSERT [dbo].[ItemPhotoes] ([id], [Photo], [ItemID]) VALUES (1, N'30-1.jpg', 1)
INSERT [dbo].[ItemPhotoes] ([id], [Photo], [ItemID]) VALUES (3, N'30-2.jpg', 1)
INSERT [dbo].[ItemPhotoes] ([id], [Photo], [ItemID]) VALUES (4, N'30-3.jpg', 1)
SET IDENTITY_INSERT [dbo].[ItemPhotoes] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([id], [CategoryID], [Name], [DescriptionShort], [DescriptionLong], [ClickCount], [Feature1], [Feature2], [Feature3], [Feature4], [Brand_id], [RelatedItem1], [RelatedItem2], [RelatedItem3], [RelatedItem4], [RelatedItem5], [SiteSelection]) VALUES (1, 30, N'Huawei Mate 20 Lite 64 GB 6.3 İnç 20 MP Akıllı Cep Telefonu Siyah', N'Test text here', N'Test long textt here', 1, N'Arttırılabilir Hafıza Var', N'Batarya Kapasitesi 3750', N'Çıkarılabilir Batarya Yok', N'Çift Arka Kemara Var', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Items] ([id], [CategoryID], [Name], [DescriptionShort], [DescriptionLong], [ClickCount], [Feature1], [Feature2], [Feature3], [Feature4], [Brand_id], [RelatedItem1], [RelatedItem2], [RelatedItem3], [RelatedItem4], [RelatedItem5], [SiteSelection]) VALUES (3, 30, N'Xiaomi Mi 8 Lite 128GB 6.26 inç 12MP Çift Hatlı Akıllı Cep Telefonu Siyah', N'Test text here', N'Test long text here', 0, N'3G Görüntülü Konuşma Yok', N'3G İndirme Hızı 42.2 Mbps', N'3G Yükleme Hızı 5.76 Mbps', N'Ağırlık 145 gr', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Items] ([id], [CategoryID], [Name], [DescriptionShort], [DescriptionLong], [ClickCount], [Feature1], [Feature2], [Feature3], [Feature4], [Brand_id], [RelatedItem1], [RelatedItem2], [RelatedItem3], [RelatedItem4], [RelatedItem5], [SiteSelection]) VALUES (4, 30, N'Samsung Galaxy J7 Prime 2 32 GB 5.5 İnç 13 MP Akıllı Cep Telefonu Siyah', N'Test text here', N'Test long text here', 243, N'3G İndirme Hızı 42.2 Mbps', N'3G Yükleme Hızı 5.76 Mbps', N'Arttırılabilir Hafıza Var', N'Batarya Kapasitesi 3300 mAh', NULL, 5, 6, 37, 43, 44, NULL)
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[ItemSpecs] ON 

INSERT [dbo].[ItemSpecs] ([id], [ItemID], [FilterId], [FilterValueID]) VALUES (1, 1, 8, 41)
INSERT [dbo].[ItemSpecs] ([id], [ItemID], [FilterId], [FilterValueID]) VALUES (2, 1, 9, 51)
INSERT [dbo].[ItemSpecs] ([id], [ItemID], [FilterId], [FilterValueID]) VALUES (3, 1, 10, 66)
GO
SET IDENTITY_INSERT [dbo].[ItemSpecs] OFF
SET IDENTITY_INSERT [dbo].[Merches] ON 

INSERT [dbo].[Merches] ([id], [Link], [Description], [Rating], [İmage], [LinkWeb]) VALUES (1, N'cimri.com', N'AdminGroup', 0, N'logo.jpg', N'https://cimri.com/')
INSERT [dbo].[Merches] ([id], [Link], [Description], [Rating], [İmage], [LinkWeb]) VALUES (2, N'morhipo.com', N'Default', 42, N'1.png', N'https://morhipo.com/')
INSERT [dbo].[Merches] ([id], [Link], [Description], [Rating], [İmage], [LinkWeb]) VALUES (3, N'mediamarkt.com.tr', N'Default', 12, N'2.png', N'https://mediamarkt.com.tr/')
SET IDENTITY_INSERT [dbo].[Merches] OFF
SET IDENTITY_INSERT [dbo].[SeaarchTags] ON 

INSERT [dbo].[SeaarchTags] ([id], [CategoryID], [Text], [SearchCount]) VALUES (2, NULL, N'Samsung telefonları', 100)
INSERT [dbo].[SeaarchTags] ([id], [CategoryID], [Text], [SearchCount]) VALUES (3, NULL, N'Bosch paltaryuyan maşınları', 70)
INSERT [dbo].[SeaarchTags] ([id], [CategoryID], [Text], [SearchCount]) VALUES (4, NULL, N'LG televizorları', 120)
SET IDENTITY_INSERT [dbo].[SeaarchTags] OFF
SET IDENTITY_INSERT [dbo].[ShippiingTypes] ON 

INSERT [dbo].[ShippiingTypes] ([id], [Description]) VALUES (1, N'Yox')
SET IDENTITY_INSERT [dbo].[ShippiingTypes] OFF
SET IDENTITY_INSERT [dbo].[Statics] ON 

INSERT [dbo].[Statics] ([id], [Logo], [Facebook], [Twitter], [LinkedIn], [Instagram], [Youtube], [Logo2], [CategoryIndex1ID], [CategoryIndex2ID], [CategoryIndex3ID], [CategoryIndex4ID], [CategoryIndex5ID]) VALUES (1, N'logo.JPG', N'https://facebook.com', N'https://twitter.com', N'https://linkedin.com', N'https://instagramm.com', N'https://youtube.com', N'logo-dark.JPG', 30, 42, 44, 45, 48)
SET IDENTITY_INSERT [dbo].[Statics] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [Username], [Password], [Name], [MerchID], [IsAdmin]) VALUES (2, N'ruslan', N'ABeHr8THJFhtsFc1dFVEC6U6IwWTgOmyiZQvSeTajBucD8v6U1U9hSFZSYwxXgRJcA==', N'Ruslan Barzigyar', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Parent_id]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Parent_id] ON [dbo].[Categories]
(
	[Parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[CategorieSubs]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[CategoryPhotoes]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [dbo].[Comments]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_id]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_id] ON [dbo].[Filters]
(
	[Category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilterGroupID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilterGroupID] ON [dbo].[Filters]
(
	[FilterGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilterID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilterID] ON [dbo].[FilterValues]
(
	[FilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemMerchID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemMerchID] ON [dbo].[IndexSliderSales]
(
	[ItemMerchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [dbo].[ItemDetails]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [dbo].[ItemMerches]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MerchID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_MerchID] ON [dbo].[ItemMerches]
(
	[MerchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShippiingType_id]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShippiingType_id] ON [dbo].[ItemMerches]
(
	[ShippiingType_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[ItemMerches]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [dbo].[ItemPhotoes]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brand_id]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Brand_id] ON [dbo].[Items]
(
	[Brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Items]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilterId]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilterId] ON [dbo].[ItemSpecs]
(
	[FilterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilterValueID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilterValueID] ON [dbo].[ItemSpecs]
(
	[FilterValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [dbo].[ItemSpecs]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[SeaarchTags]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[SiteRecommends]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [dbo].[SiteRecommends]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MerchID]    Script Date: 3/31/2019 10:18:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_MerchID] ON [dbo].[Users]
(
	[MerchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Filters] ADD  DEFAULT ((0)) FOR [FilterGroupID]
GO
ALTER TABLE [dbo].[FilterValues] ADD  DEFAULT ((0)) FOR [ItemsCount]
GO
ALTER TABLE [dbo].[ItemMerches] ADD  DEFAULT ((0)) FOR [MerchID]
GO
ALTER TABLE [dbo].[ItemMerches] ADD  DEFAULT ((0)) FOR [IsSponsored]
GO
ALTER TABLE [dbo].[Merches] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[SiteRecommends] ADD  DEFAULT ((0)) FOR [IsAcive]
GO
ALTER TABLE [dbo].[Statics] ADD  DEFAULT ((0)) FOR [CategoryIndex1ID]
GO
ALTER TABLE [dbo].[Statics] ADD  DEFAULT ((0)) FOR [CategoryIndex2ID]
GO
ALTER TABLE [dbo].[Statics] ADD  DEFAULT ((0)) FOR [CategoryIndex3ID]
GO
ALTER TABLE [dbo].[Statics] ADD  DEFAULT ((0)) FOR [CategoryIndex4ID]
GO
ALTER TABLE [dbo].[Statics] ADD  DEFAULT ((0)) FOR [CategoryIndex5ID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Categories_Parent_id] FOREIGN KEY([Parent_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Categories_Parent_id]
GO
ALTER TABLE [dbo].[CategorieSubs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategorieSubs_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorieSubs] CHECK CONSTRAINT [FK_dbo.CategorieSubs_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[CategoryPhotoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryPhotoes_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryPhotoes] CHECK CONSTRAINT [FK_dbo.CategoryPhotoes_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Items_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Items_ItemID]
GO
ALTER TABLE [dbo].[Filters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Filters_dbo.Categories_Category_id] FOREIGN KEY([Category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Filters] CHECK CONSTRAINT [FK_dbo.Filters_dbo.Categories_Category_id]
GO
ALTER TABLE [dbo].[Filters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Filters_dbo.FilterGroups_FilterGroupID] FOREIGN KEY([FilterGroupID])
REFERENCES [dbo].[FilterGroups] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Filters] CHECK CONSTRAINT [FK_dbo.Filters_dbo.FilterGroups_FilterGroupID]
GO
ALTER TABLE [dbo].[FilterValues]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilterValues_dbo.Filters_FilterID] FOREIGN KEY([FilterID])
REFERENCES [dbo].[Filters] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilterValues] CHECK CONSTRAINT [FK_dbo.FilterValues_dbo.Filters_FilterID]
GO
ALTER TABLE [dbo].[IndexSliderSales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IndexSliderSales_dbo.ItemMerches_ItemMerchID] FOREIGN KEY([ItemMerchID])
REFERENCES [dbo].[ItemMerches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IndexSliderSales] CHECK CONSTRAINT [FK_dbo.IndexSliderSales_dbo.ItemMerches_ItemMerchID]
GO
ALTER TABLE [dbo].[ItemDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemDetails_dbo.Items_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemDetails] CHECK CONSTRAINT [FK_dbo.ItemDetails_dbo.Items_ItemID]
GO
ALTER TABLE [dbo].[ItemMerches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemMerches_dbo.Items_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMerches] CHECK CONSTRAINT [FK_dbo.ItemMerches_dbo.Items_ItemID]
GO
ALTER TABLE [dbo].[ItemMerches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemMerches_dbo.Merches_MerchID] FOREIGN KEY([MerchID])
REFERENCES [dbo].[Merches] ([id])
GO
ALTER TABLE [dbo].[ItemMerches] CHECK CONSTRAINT [FK_dbo.ItemMerches_dbo.Merches_MerchID]
GO
ALTER TABLE [dbo].[ItemMerches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemMerches_dbo.ShippiingTypes_ShippiingType_id] FOREIGN KEY([ShippiingType_id])
REFERENCES [dbo].[ShippiingTypes] ([id])
GO
ALTER TABLE [dbo].[ItemMerches] CHECK CONSTRAINT [FK_dbo.ItemMerches_dbo.ShippiingTypes_ShippiingType_id]
GO
ALTER TABLE [dbo].[ItemMerches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemMerches_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMerches] CHECK CONSTRAINT [FK_dbo.ItemMerches_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[ItemPhotoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemPhotoes_dbo.Items_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemPhotoes] CHECK CONSTRAINT [FK_dbo.ItemPhotoes_dbo.Items_ItemID]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Items_dbo.Brands_Brand_id] FOREIGN KEY([Brand_id])
REFERENCES [dbo].[Brands] ([id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_dbo.Items_dbo.Brands_Brand_id]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Items_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_dbo.Items_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[ItemSpecs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemSpecs_dbo.Filters_FilterId] FOREIGN KEY([FilterId])
REFERENCES [dbo].[Filters] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemSpecs] CHECK CONSTRAINT [FK_dbo.ItemSpecs_dbo.Filters_FilterId]
GO
ALTER TABLE [dbo].[ItemSpecs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemSpecs_dbo.FilterValues_FilterValueID] FOREIGN KEY([FilterValueID])
REFERENCES [dbo].[FilterValues] ([id])
GO
ALTER TABLE [dbo].[ItemSpecs] CHECK CONSTRAINT [FK_dbo.ItemSpecs_dbo.FilterValues_FilterValueID]
GO
ALTER TABLE [dbo].[ItemSpecs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemSpecs_dbo.Items_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemSpecs] CHECK CONSTRAINT [FK_dbo.ItemSpecs_dbo.Items_ItemID]
GO
ALTER TABLE [dbo].[SeaarchTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SeaarchTags_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[SeaarchTags] CHECK CONSTRAINT [FK_dbo.SeaarchTags_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[SiteRecommends]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SiteRecommends_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SiteRecommends] CHECK CONSTRAINT [FK_dbo.SiteRecommends_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[SiteRecommends]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SiteRecommends_dbo.Items_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([id])
GO
ALTER TABLE [dbo].[SiteRecommends] CHECK CONSTRAINT [FK_dbo.SiteRecommends_dbo.Items_ItemID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Merches_MerchID] FOREIGN KEY([MerchID])
REFERENCES [dbo].[Merches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Merches_MerchID]
GO
USE [master]
GO
